<section class="sidebar">

    <!-- div class="user-panel" ng-include="'/template/menu/user.html'"></div -->

    <!-- div ng-include="'/template/menu/searchForm.html'"></div -->

    <ul class="sidebar-menu">
        <li class="header">NAVEGAÇÃO PRINCIPAL</li>
        <li>
            <a ui-sref="dashboard">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>

        <li class="treeview">
            <a href>
                <i class="fa fa-edit"></i> <span>Cadastros</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a ui-sref="billingCycle"><i class="fa fa-usd"></i> Ciclo de Pagamentos</a>
                </li>
            </ul>
        </li>

        <li class="header">TECNOLOGIAS</li>
        <li>
            <a href="https://www.mongodb.com" target="_blank">
                <i class="fa fa-circle-o text-red"></i> <span>MongoDB</span>
            </a>
        </li>

        <li>
            <a href="http://expressjs.com" target="_blank">
                <i class="fa fa-circle-o text-yellow"></i> <span>Express</span>
            </a>
        </li>
        <li>
            <a href="https://angularjs.org" target="_blank">
                <i class="fa fa-circle-o text-aqua"></i> <span>Angular</span>
            </a>
        </li>
        <li>
            <a href="https://nodejs.org" target="_blank">
                <i class="fa fa-circle-o text-green"></i> <span>Node</span>
            </a>
        </li>
    </ul>
</section>