<a href class="dropdown-toggle" data-toggle="dropdown">
    <img src="/assets/imgs/user.png" class="user-image" alt="User Image"/>
    <span class="hidden-xs">{{::auth.getUser().name}}</span>
</a>

<ul class="dropdown-menu">

    <li class="user-header">
        <img src="/assets/imgs/user.png" class="img-circle" alt="User Image">
        <p>
            {{::auth.getUser().name}}
            <small>{{auth.getUser().email}}</small>
        </p>
    </li>

    <li class="user-footer">
        <div class="pull-right">
            <a href class="btn btn-default btn-flat" ng-click="auth.logout()">Sair</a>
        </div>
    </li>
</ul>