<a href class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Habilitar navegação</span>
</a>
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <!--<li class="dropdown messages-menu" ng-include="'/template/header/navbar/messages.html'"></li>-->
        <!--<li class="dropdown notifications-menu" ng-include="'/template/header/navbar/notifications.html'"></li>-->
        <!--<li class="dropdown tasks-menu" ng-include="'/template/header/navbar/tasks.html'"></li>-->
        <li class="dropdown user user-menu" ng-include="'/template/header/navbar/user.html'" ng-controller="AuthCtrl as auth"></li>
    </ul>
</div>