<div class="login-box" ng-controller="AuthCtrl as auth">

    <div class="login-logo"><b> Primeira</b> APP</div>

    <div class="login-box-body">
        <p class="login-box-msg">Bem vindo!</p>
        <form name="login">
            <auth-field id="authName" model="auth.user.name" type="input" icon="user" placeholder="Informe o nome" hide="auth.loginMode"></auth-field>
            <auth-field id="authEmail" model="auth.user.email" type="email" icon="envelope" placeholder="Informe o email"></auth-field>
            <auth-field id="authPass" model="auth.user.password" type="password" icon="lock" placeholder="Informe a senha"></auth-field>
            <auth-field id="authConfirmPass" model="auth.user.confirm_password" icon="log-in" type="password" placeholder="Confirme a senha" hide="auth.loginMode"></authfield>
        </form>

        <div class="row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="auth.login()" ng-show="auth.loginMode" >Entrar</button>
                <button class="btn btn-primary btn-block btn-flat" ng-click="auth.signup()" ng-hide="auth.loginMode">Registrar</button>
            </div>
        </div>

        <br/>
        <a href="" ng-click="auth.changeMode()">{{auth.loginMode ? 'Novo usuário? Registrar aqui!' : 'Já é cadastrado? Entrar aqui!'}}</a>
   </div>

</div>

<style>
    html,
    .wrapper {
        background-color: #fff!important;
    }

    .login-box-body {
        background-color: #eee;
    }
</style>