<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="credit in ctrl.billingCycle.credits">
                <td>
                    <input ng-model="credit.name" class="form-control" placeholder="Informe o Nome" ng-readonly="ctrl.tabDelete" />
                </td>
                <td>
                    <input ng-model="credit.value" class="form-control" placeholder="Informe a Valor" ng-readonly="ctrl.tabDelete" ng-change="ctrl.calculateValues()" type="number" />
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-click="ctrl.addCredit($index)" ng-disabled="ctrl.tabDelete"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-warning" ng-click="ctrl.cloneCredit($index, credit)" ng-disabled="ctrl.tabDelete"><i class="fa fa-clone"></i></button>
                    <button class="btn btn-danger" ng-click="ctrl.deleteCredit($index)" ng-disabled="ctrl.tabDelete"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>